# Virtual Environment
venv/
.venv/
env/

# Environment Variables & Secrets
.env
*.env

# Dependencies
node_modules/
frontend/node_modules/
backend/venv/

# Build & Cache Outputs
build/
dist/
__pycache__/
*.pyc
.pytest_cache/

# System Files
.DS_Store
Thumbs.db